html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden; /* prevent horizontal scroll */
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px; /* or any max width you prefer */
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
